<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
		<h2 style="font-family:Aharoni">Lucene Lanches</h2>
		<div class="menu">
			<h:form>
				<h:link  outcome="Home">#{msg.home}</h:link>
				<h:link  outcome="CadastroPedido">#{msg.orders}</h:link>
				<h:commandLink action="#{segurancaBean.sair}">#{msg.logout}</h:commandLink>			
			</h:form>
		</div>
	
</ui:composition>

