<ui:composition template="/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
	
	
	<ui:define name="conteudo">
		<h:outputStylesheet library="styles" name="sistema.css"/>
		
		<h1>#{msg.order}</h1>
	
		<h:form id="frm">
			<h:messages showDetail="false" showSummary="true" styleClass="form-messages" errorClass="error" infoClass="info" />
			<h:panelGrid columns="2" styleClass="form-grid"	columnClasses="label, campo">
				<h:outputLabel value="#{msg.name}"/>
				<h:inputText size="60" value="#{pedidoManagedBean.pessoa.nome}" label="#{msg.name}" required="true"/>	
				<h:outputLabel value="#{msg.address}"/>			
				<h:inputText size="60" value="#{pedidoManagedBean.pessoa.endereco}" label="#{msg.address}" required="true"/>
				<h:outputLabel/>	
				<h:selectOneMenu value="#{pedidoManagedBean.lanche}" label="#{msg.snack}">
					<f:selectItem itemLabel="#{msg.list_snacks}" noSelectionOption="true"/>
					<f:selectItems value="#{pedidoManagedBean.lanches}" var="lanche"
						itemValue="#{lanche}" itemLabel="#{lanche.descricao}"/>				
				</h:selectOneMenu>							
			
			
				<h:outputLabel value="#{msg.bread}"/>
				<h:selectOneMenu value="#{pedidoManagedBean.tipoPao}" label="#{msg.bread}">
					<f:selectItem itemLabel="#{msg.bread}" noSelectionOption="true"/>
					<f:selectItems value="#{pedidoManagedBean.tiposDePao}" var="tipoPao"
						itemValue="#{tipoPao}" itemLabel="#{tipoPao.descricao}"/>				
				</h:selectOneMenu>	
				
				<h:outputLabel value="#{msg.cheese}"/>
				<h:selectOneMenu value="#{pedidoManagedBean.queijo}" label="#{msg.cheese}">
					<f:selectItem itemLabel="#{msg.cheese}" noSelectionOption="true"/>
					<f:selectItems value="#{pedidoManagedBean.tiposDeQueijo}" var="queijo"
						itemValue="#{queijo}" itemLabel="#{queijo.descricao}"/>				
				</h:selectOneMenu>	
				
				<h:outputLabel value="#{msg.filling}"/>
				<h:selectOneMenu value="#{pedidoManagedBean.recheio}" label="#{msg.filling}">
					<f:selectItem itemLabel="#{msg.filling}" noSelectionOption="true"/>
					<f:selectItems value="#{pedidoManagedBean.tiposDeRecheio}" var="recheio"
						itemValue="#{recheio}" itemLabel="#{recheio.descricao}"/>				
				</h:selectOneMenu>	
				
				<h:outputLabel value="#{msg.salad}"/>
				<h:selectOneRadio value="#{pedidoManagedBean.salada}" label="#{msg.salad}">
					<f:selectItems value="#{pedidoManagedBean.tiposDeSalada}" var="salada"
						itemLabel="#{salada.descricao}" itemValue="#{salada}"/>								
				</h:selectOneRadio>
				
								
				<h:outputLabel value="#{msg.sauces}"/>
				<h:selectManyCheckbox value="#{pedidoManagedBean.molho}" label="#{msg.sauces}">
					<f:selectItems value="#{pedidoManagedBean.tiposDeMolho}" var="molho"
						itemLabel="#{molho.descricao}" itemValue="#{molho}"/>				
				</h:selectManyCheckbox>	
				
				
				<h:outputLabel value="#{msg.spices}"/>
				<h:selectManyCheckbox value="#{pedidoManagedBean.tempero}" label="#{msg.spices}">
					<f:selectItems value="#{pedidoManagedBean.tiposDeTempero}" var="tempero"
						itemLabel="#{tempero.descricao}" itemValue="#{tempero}"/>							
				</h:selectManyCheckbox>		
				
				<h:outputLabel/>			
				<h:commandButton value="#{msg.save}" action="#{pedidoManagedBean.cadastrar}"/>
				<h:commandButton value="#{msg.finish}"/>
				
			</h:panelGrid>	
		</h:form>	
		</ui:define>
</ui:composition>	


	

