<ui:composition template="/template/LayoutPadrao.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core">
	
		
	<ui:define name="conteudo">
		<h2 style="text-align: center; padding: 100px">#{msg.welcome}</h2>
	</ui:define>
	
</ui:composition>
